<%- include('partial/header.ejs') %>
<div class="bookList">
	<p>
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem delectus, quas
		aut voluptates ab, id ratione cumque ipsa odio dicta praesentium, assumenda
		quidem earum dolorem nisi ipsum. Mollitia minima illum blanditiis explicabo
		nobis eum numquam? Dicta ipsam sunt perspiciatis architecto facilis,
		veritatis obcaecati soluta. Odio fuga nostrum minus nam suscipit, facere
		numquam sunt quas optio at vel, error quisquam itaque hic natus voluptas? A
		at esse odio mollitia, inventore architecto placeat quod id doloribus
		obcaecati cupiditate. Labore, qui sequi molestiae unde vero hic quae
		accusamus! Suscipit deserunt totam cupiditate odit earum, labore illum
		voluptates animi, placeat ut iste consectetur quo nam quidem omnis impedit
		modi. Quam fugiat rem id praesentium laudantium, enim error molestiae odit
		nesciunt mollitia quae facere doloribus iusto. Deleniti explicabo eum animi
		labore dolorem, illum voluptatem id doloremque hic rerum aperiam asperiores.
		Maiores illum pariatur eligendi! Nemo maxime veritatis ut ad suscipit
		corrupti veniam vitae numquam repudiandae atque iure, quis doloribus,
		excepturi aut non perspiciatis velit omnis mollitia hic aspernatur eaque.
		Qui explicabo nisi optio, suscipit at quasi repudiandae sit autem, non
		sapiente quas molestiae quo hic totam consequatur aliquam voluptatum
		laboriosam. Laboriosam, deserunt, explicabo repellat animi hic distinctio
		incidunt doloribus, enim vel reiciendis quibusdam ipsam deleniti?
	</p>
</div>

<%- include('partial/footer.ejs') %>
